<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>Tittle</th>
      <th>Year</th>
      <th>Season</th>
    </tr>
  </thead>
  <tbody>
     
    <tr class="success">
        <td>Women's Cricket</td>
        <td>2021</td>
        <td>Winter</td>
    </tr>
    <tr class="danger">
      
        <td>Base Ball</td>
        <td>2021</td>
        <td>Winter</td>
    </tr>
    <tr class="info">
        <td>T20 Cricket</td>
            <td>2021</td>
            <td>Autumn</td>
    </tr>
    
  </tbody>
</table>
</div>


<button type="button" class="btn btn-link"><a href="/">HOME</a></button>
    
</body>
</html>